<meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="小丁看房神器 [v1.03]" />
<meta property="og:description"        content="你做研究都要爬文獻了，那為什麼買房不用？在線分析合理房價區間。" />
<meta property="og:image"              content="https://github.com/aaaddress1/buyHouseAnalyzer/blob/main/1645783587776.png?raw=true" />

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>小丁看房神器</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class=" top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white supports-backdrop-blur:bg-white/95 dark:bg-yellow-300">
      <div class="max-w-8xl mx-auto">
        <div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
          <div class="relative flex items-center">
            <h1 class="font-bold">小丁看房神器 [v1.03] - 中古屋行情分析</h1>
            <span class="ml-3 text-xs leading-5 font-medium text-sky-600 dark:text-yellow-600 bg-sky-400/10 rounded-full py-1 px-3 hidden xl:flex items-center hover:bg-sky-400/20">你做研究都要爬文獻了，那為什麼買房不用？</span>
          </div>
        </div>
      </div>
    </header>

    <!-- Application -->
    <div id="app" class="max-w-8xl mt-8 mx-auto px-4 sm:px-6 md:px-8">
      <!-- Search Form -->
      <section>
        <!-- Input -->
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
              調閱年份
            </label>
          </div>
          <div class="md:w-2/3">
            <input v-model="yearBegin" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-1/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
            到
            <input v-model="yearEnd" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-1/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
          </div>
        </div>
        <!-- Input -->
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
              位置
            </label>
          </div>
          <div class="md:w-2/3">
            <select v-model="city" name="city" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
              <option value="臺北市">臺北市</option>
              <option value="臺中市">臺中市</option>
              <option value="基隆市">基隆市</option>
              <option value="臺南市">臺南市</option>
              <option value="高雄市">高雄市</option>
              <option value="新北市">新北市</option>
              <option value="宜蘭縣">宜蘭縣</option>
              <option value="桃園市">桃園市</option>
              <option value="嘉義市">嘉義市</option>
              <option value="新竹縣">新竹縣</option>
              <option value="苗栗縣">苗栗縣</option>
              <option value="南投縣">南投縣</option>
              <option value="彰化縣">彰化縣</option>
              <option value="新竹市">新竹市</option>
              <option value="雲林縣">雲林縣</option>
              <option value="嘉義縣">嘉義縣</option>
              <option value="屏東縣">屏東縣</option>
              <option value="花蓮縣">花蓮縣</option>
              <option value="臺東縣">臺東縣</option>
              <option value="金門縣">金門縣</option>
              <option value="馬公市">馬公市</option>
            </select>
            <input type="text" v-model="district" name="district" placeholder="行政區" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
            <input type="text" v-model="addr" name="house_local" placeholder="地址街道地址（不包含巷弄樓層）" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-1/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
          </div>
        </div>
        <!-- Input -->
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <input type="number" v-model="landSize" step="0.01" name="landsize_Ibuy" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" placeholder="你想買的物件坪數" />
            <input type="number" v-model="floor" name="which_floor" placeholder="樓層" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
            <input type="number" v-model="houseYear" name="house_year" placeholder="屋齡" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
          </div>
        </div>
        <!-- Notice -->
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
          </div>
          <div class="md:w-2/3">
            <div class="form-check form-switch">
              
              <input class="form-check-input" type="checkbox"  v-model="onlyHaveCarResult">
              <label class="form-check-label text-gray-500 text-sm" for="flexSwitchCheckDefault">僅分析具有車位的房屋結果</label>
            </div>
            <p class="text-gray-500 text-sm">若不須篩選該項條件，將其欄位留空即可。</p>
          </div>
        </div>
        <!-- Submit -->
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <p class="text-red-500 text-sm" id="errorHint"></p>
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="onSearch">聽話！讓小丁看看！</button>
          </div>
        </div>
      </section>
      <!-- Result Section -->
      <section class="leading-7">
        <header>
          <h1 class="text-lg font-bold">小丁線上點評</h1>
        </header>
        <div>
          {% if content|length > 0 %}
            <p>小丁驚訝的發現！！！</p>
            <p>實價登錄成交最低樓層為 {{ analyzeResult['lowest_floorInfo'][0]}}樓，其平均每坪 {{ '%.2f' | format(analyzeResult['lowest_floorInfo'][1]|float) }} 萬元</p>
            <p>實價登錄成交最高樓層為 {{ analyzeResult['highest_floorInfo'][0] }}樓，其平均每坪 {{ '%.2f' | format(analyzeResult['highest_floorInfo'][1]|float) }} 萬元</p>
            <p>意味著每增加一層樓，每坪單價便須增加 {{ analyzeResult['perFloor_addMoney'] }} 元新台幣！</p>

            {% if dbInitVal['landsize_Ibuy'] and dbInitVal['which_floor'] %}
              <p>假設您現在想買位於 {{dbInitVal['which_floor']}} 樓 {{dbInitVal['landsize_Ibuy']}} 坪的中古屋...</p>
              <p>
                那麼小丁推測此條件之房屋底價為： {{dbInitVal['landsize_Ibuy']}}坪
                * ({{'%.2f'|format(analyzeResult['lowest_floorInfo'][1]|float)}}萬 + {{analyzeResult['perFloor_addMoney']}}元 * {{ dbInitVal['which_floor'] - analyzeResult['lowest_floorInfo'][0] }}個樓層差 )
                = {{ '%.2f' | format(dbInitVal['landsize_Ibuy'] * (analyzeResult['lowest_floorInfo'][1]*10000 + analyzeResult['perFloor_addMoney'] * (dbInitVal['which_floor'] - analyzeResult['lowest_floorInfo'][0] ))/10000 | float)}} 萬元總價唷！
              </p>
              <p>您所搜索的房屋條件來說，平均單價為每坪 {{ analyzeResult['avg_landCost'] }} 萬元，因此 {{dbInitVal['landsize_Ibuy']}}坪 的房子均價應該在 {{ '%.2f'|format(analyzeResult['avg_landCost'] * dbInitVal['landsize_Ibuy']|float) }}萬總價。</p>
              <p>銀行估值最高總價應為 {{ '%.2f'|format(analyzeResult['avg_landCost'] * dbInitVal['landsize_Ibuy'] * 1.15|float) }} 萬元。</p>
              <!-- TODO: Extra Breaker -->
              <p>小丁還發現了有個住在 {{ analyzeResult['richest_buyerInfo'][0] }} 樓的盤子買到最高價每坪 {{ '%.2f'| format(analyzeResult['richest_buyerInfo'][1]|float) }} 萬元</p>

              <p>
                因此賣家心底的價格（即實價登錄最高價）應該至少要 {{dbInitVal['landsize_Ibuy']}}坪 * {{ '%.2f'| format(analyzeResult['richest_buyerInfo'][1]|float) }}
                = 總價 {{ '%.2f'| format(analyzeResult['richest_buyerInfo'][1]*dbInitVal['landsize_Ibuy']|float) }} 萬元才願意賣唷QQ
              </p>
            {% endif %}
            <div class="text-sm text-gray-500">
              <p>註1：能成交的才是好價格、本分析僅供參考，實際議價成交價格可能會有所出入。</p>
              <p>註2：本分析資料來源內政部實價登錄，並未像實價登錄2.0一樣將極端買賣價隱藏、而是全部顯示。</p>
            </div>
          {% else %}
            <p>快輸入你想購買ㄉ房屋條件來分析議價空間ㄅ :)</p>
            <p> 房屋篩選條件設定太嚴苛ㄉ話小丁可能會搜尋不到結果唷 QQ </p>
          {% endif %}
        </div>
      </section>
      {% if content|length > 0 %}
        <section class="mt-8 leading-7">
          <header>
            <h1 class="text-lg font-bold">坪數與公設綜合分析</h1>
          </header>
          <div class="flex items-center">
   
            <canvas id="priceChart" width="100%" height="400"></canvas>

          </div>
          

          <div class="flex items-center">

            <canvas id="publicChart" width="100%" height="400"></canvas>
  
          </div>
        </section>

        <section class="mt-8 leading-7">
          <header>
            <h1 class="text-lg font-bold">實價登錄分析</h1>
          </header>
          <div>
            {% for which_floor in content|sort %}
            <div class="panel-group" id="floor{{which_floor}}panel">
              <div class="panel panel-default">
                <div class="mb-2 py-2">
                  <a @click.prevent="viewFloor('collapse{{which_floor}}')" href="#collapse{{which_floor}}" class="text-blue-500 hover:text-blue-800">
                    樓層 #{{which_floor}} - 平均每坪 {{'%.2f'|format(content[which_floor]['perland_avgCost']|float)}} 萬元
                  </a>
                  <div id="collapse{{which_floor}}" class="hidden floorTable">
                    <table class="border-collapse table-auto w-full text-sm">
                      <thead>
                        <tr>{% for l in labels %}<th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-700 text-left">{{l}}</th>{% endfor %}</tr>
                      </thead>
                      <tbody class="bg-white dark:bg-yellow-100">
                        {% for curr_row in content[which_floor]['currFloorDB'] %}
                        <tr>
                          {% for each_col in curr_row %}<td class="border-b  p-4 pl-8 text-slate-500 dark:text-slate-700">{{ each_col }}</td>{% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      {% endif %}
    </div>

    <!-- Footer -->
    <footer class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8 text-sm leading-6 mt-16">
      <div class="pt-10 pb-28 border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
        <div>
          <h2 class="font-bold mb-4">關於此專案</h2>
          <div class="card-body">
            <p class="mb-2">此專案為公益性質免費在線中古屋房價分析工具 :)</p>
            <p class="mb-2">程式碼完全透明並開源於 <a class="text-blue-500" href="http://github.com/aaaddress1/buyHouseAnalyzer">aaaddress1/buyHouseAnalyzer</a></p>
            <p class="mb-2">若使用上有任何計算疏漏或者功能建議都歡迎 發PR 提 Issue 或來信 aaaddress1@chroot.org</p>
            <p class="mb-2">歡迎各位大佬打賞小額支持伺服器租賃費用，目前只敢開 Digital Ocean 低規主機 QQ</p>
          </div>
        </div>
        <div>
          <a href="https://www.buymeacoffee.com/aaaddress1"><img src="https://img.buymeacoffee.com/button-api/?text=打賞支持🙏&emoji=&slug=aaaddress1&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
        </div>
      </div>
    </footer>

    <script>
      haveSubmittedRequest = false;

      const app = Vue.createApp({
        setup() {
          const yearBegin = Vue.ref({{ dbInitVal['year_begin'] or 2018 }})
          const yearEnd = Vue.ref({{ dbInitVal['year_end'] or 2022 }})
          const city = Vue.ref('{{ dbInitVal['city'] or 臺北市 }}')
          const district = Vue.ref('{{ dbInitVal['district'] or '' }}')
          const addr = Vue.ref('{{ dbInitVal['houseAddr'] or '' }}')
          const landSize = Vue.ref({{ dbInitVal['landsize_Ibuy'] or '' }})
          const floor = Vue.ref({{ dbInitVal['which_floor'] or '' }})
          const houseYear = Vue.ref({{ dbInitVal['house_year'] or '' }})
          const onlyHaveCarResult = Vue.ref({{ dbInitVal['onlyHaveCarResult'] or '' }})
          return {
            yearBegin,
            yearEnd,
            city,
            district,
            addr,
            landSize,
            floor,
            houseYear,
            onlyHaveCarResult,
            onSearch: () => {

              if ((district.value.length < 1) && (addr.value.length < 1))
                document.getElementById('errorHint').innerHTML = "篩選條件必須至少填寫「區」或者「街道路名」兩者其一（或同時填寫）";
              else
                if (!haveSubmittedRequest) {
                  location.replace(`/?city=${city.value}&district=${district.value || ''}&houseAddr=${addr.value || ''}&year_begin=${yearBegin.value}&year_end=${yearEnd.value}&house_year=${houseYear.value || ''}&which_floor=${floor.value || ''}&landsize_Ibuy=${landSize.value || ''}&onlyHaveCarResult=${onlyHaveCarResult.value||''}`);
                  haveSubmittedRequest = true;
                }
                
            },
            viewFloor: (floorId) => {
              document.querySelectorAll('.floorTable').forEach($el => $el.classList.add('hidden'))
              document.getElementById(floorId).classList.toggle('hidden')
            }
          }
        }
      })

      app.mount('#app')
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const $priceChart = document.getElementById('priceChart')
        const $publicChart = document.getElementById('publicChart')

        const chartContent = JSON.parse(`{{content|tojson}}`);
        const floorLabels = []
        const avgLandCost = []
        const avgSharedPercent = []

        {% for which_floor in content|sort %}
        floorLabels.push("{{which_floor}} 樓");
        avgLandCost.push({{ content[which_floor]['perland_avgCost'] }});
        avgSharedPercent.push({{ content[which_floor]['currFloor_avgSharedPercent'] }});
        {% endfor %}

        if($priceChart) {
          const priceCtx = $priceChart.getContext('2d')
          const priceChart = new Chart(priceCtx, {
            type: 'line',
            data: {
              labels: floorLabels,
              datasets: [{
                label: '按樓層每坪單價分佈（單位：萬）',
                data: avgLandCost
              }]
            }, options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    min: 0,
                    stepSize: 5,
                  }
                }]
              }
            }
          })
        }

        if($publicChart) {
          const publicCtx = $publicChart.getContext('2d')
          const publicChart = new Chart(publicCtx, {
            type: 'line',
            data: {
              labels: floorLabels,
              datasets: [{
                label: '按樓層公設比分佈（單位：％）',
                data: avgSharedPercent
              }]
            },      options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    min: 0,
                    max: 100,
                    stepSize: 5,
                  }
                }]
              }
            }
          });
        }
      })
    </script>
  </body>
</html>
