<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>小丁線上看房 [v1.0]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <!-- Header -->
    <header class=" top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white supports-backdrop-blur:bg-white/95 dark:bg-slate-900/75">
      <div class="max-w-8xl mx-auto">
        <div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
          <div class="relative flex items-center">
            <h1 class="font-bold">小丁看房神器（中古屋）</h1>
            <span class="ml-3 text-xs leading-5 font-medium text-sky-600 dark:text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 hidden xl:flex items-center hover:bg-sky-400/20">你做研究都要爬文獻了，那為什麼買房不用？</span>
          </div>
        </div>
      </div>
    </header>

    <!-- Application -->
    <div class="max-w-8xl mt-8 mx-auto px-4 sm:px-6 md:px-8">
      <div id="app">
        <!-- Search Form -->
        <div>
          <!-- Input -->
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                調閱年份
              </label>
            </div>
            <div class="md:w-2/3">
              <input v-model="yearBegin" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-1/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
              到
              <input v-model="yearEnd" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-1/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
            </div>
          </div>
          <!-- Input -->
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                位置
              </label>
            </div>
            <div class="md:w-2/3">
              <select v-model="city" name="city" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
                <option value="臺北市">臺北市</option>
                <option value="臺中市">臺中市</option>
                <option value="基隆市">基隆市</option>
                <option value="臺南市">臺南市</option>
                <option value="高雄市">高雄市</option>
                <option value="新北市">新北市</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="桃園市">桃園市</option>
                <option value="嘉義市">嘉義市</option>
                <option value="新竹縣">新竹縣</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="南投縣">南投縣</option>
                <option value="彰化縣">彰化縣</option>
                <option value="新竹市">新竹市</option>
                <option value="雲林縣">雲林縣</option>
                <option value="嘉義縣">嘉義縣</option>
                <option value="屏東縣">屏東縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="臺東縣">臺東縣</option>
                <option value="金門縣">金門縣</option>
                <option value="馬公市">馬公市</option>
              </select>
              <input type="text" v-model="district" name="district" placeholder="行政區" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
              <input type="text" v-model="addr" name="house_local" placeholder="地址街道地址（不包含巷弄樓層）" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-1/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
            </div>
          </div>
          <!-- Input -->
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <input type="number" v-model="landSize" step="0.01" name="landsize_Ibuy" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" placeholder="你想買的物件坪數" />
              <input type="number" v-model="floor" name="which_floor" placeholder="樓層" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
              <input type="number" v-model="houseYear" name="house_year" placeholder="屋齡" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded mr-4 w-1/5 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
            </div>
          </div>
          <!-- Notice -->
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <p class="text-gray-500 text-sm">若不須篩選該項條件，將其欄位留空即可。</p>
            </div>
          </div>
          <!-- Submit -->
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="onSearch">聽話！讓小丁看看！</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const app = Vue.createApp({
        setup() {
          const yearBegin = Vue.ref({{ dbInitVal['year_begin'] or 2018 }})
          const yearEnd = Vue.ref({{ dbInitVal['year_end'] or 2022 }})
          const city = Vue.ref('{{ dbInitVal['city'] or 臺北市 }}')
          const district = Vue.ref('{{ dbInitVal['district'] or '' }}')
          const addr = Vue.ref('{{ dbInitVal['houseAddr'] or '' }}')
          const landSize = Vue.ref({{ dbInitVal['landsize_Ibuy'] or '' }})
          const floor = Vue.ref({{ dbInitVal['which_floor'] or '' }})
          const houseYear = Vue.ref({{ dbInitVal['house_year'] or '' }})

          return {
            yearBegin,
            yearEnd,
            city,
            district,
            addr,
            landSize,
            floor,
            houseYear,
            onSearch: () => {
              location.replace(`/?city=${city.value}&district=${district.value || ''}&houseAddr=${addr.value || ''}&year_begin=${yearBegin.value}&year_end=${yearEnd.value}&house_year=${houseYear.value || ''}&which_floor=${floor.value || ''}&landsize_Ibuy=${landSize.value || ''}`);
            }
          }
        }
      })

      app.mount('#app')
    </script>
  </body>
</html>
